* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: white;

  background: #292738;
}

.box {
  line-height: 160%;
  padding: 2.9rem 4.8rem;

  background: #363447;
  box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;

  gap: 3.2rem;
}

.grid {
  display: grid;
}

#app {
  

 

  width: fit-content;
  height: fit-content;
  min-height: 100vh;
  

  padding: 11.2rem 12.3rem;
  column-gap: 3.2rem;
  row-gap: 5.9rem;

  place-content: center;
  margin: auto;
  padding: 3.2rem;
}



.top {
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
}

.middle {
  display: grid;
  place-content: center;
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: auto;

  font-weight: 500;
  font-size: 1.4rem;
}

.bottom .item {
  display: flex;
  gap: 1rem;
}

.bottom .item span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.bottom .item span {
  --bg-color: #4a4556;
}
.bottom .item span:nth-child(1)::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: var(--bg-color);
  border-radius: 50%;
}



.nps {
  gap: 3.2rem;
}

.nps .middle {
  height: 19.7rem;
  place-content: center;
  justify-items: center;
  gap: 1.6rem;
  color: #81fbbb;
}

.nps .bottom {
  gap: 1rem;
}

svg {
  --circumference: 618; /*r = d / 2 c = 2 * pi * r*/
  --percentage: 0;
  width: 19.7rem;
  height: 19.7rem;
  transform: rotate(-90deg);
}

svg circle {
  stroke-dasharray: var(--circumference);

  stroke-dashoffset: var(--circumference);
  stroke-width: 35;
  fill: none;
}

svg circle:nth-child(1) {
  stroke-dashoffset: 0;
}
svg circle:nth-child(2) {
  stroke-dashoffset: calc(
    var(--circumference) - (var(--circumference) * var(--percentage)) / 100
  );
  stroke-linecap: round;

  animation: progress 1s ease-in-out;
}

@keyframes progress {
  0% {
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: var(--circumference);
  }
}

.middle .content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
}

.content h3 {
  font-size: 3.4rem;
}

.text-left {
  text-align: left;
}

.weekly-sell {
  gap: 3.2rem;
}

.weekly-sell .wrapper {
  flex-direction: column;
  display: flex;
  gap: 3.2rem;
}

.weekly-sell .left {
  grid-auto-flow: column;
  gap: 3.2rem;
}

.weekly-sell .left, .weekly-sell .right{
  flex: 1;
}

.left .grid {
  font-size: 24px;
  font-weight: 500;
  gap: 0.8rem;
}

.left .grid span {
  display: flex;
  align-items: center;
  gap: .4rem;
  font-size: 14px;
}

.left .grid span::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.left .most-sell span::before {
  background: linear-gradient(180deg, #81fbb8 0%, #28c76f 100%);
  
}

.left .less-sell span::before {
  background: linear-gradient(180deg, #ea5455 0%, #feb692 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}


.bars {
  position: relative;
  display: flex;
  gap: calc(3vw + 1rem);
  align-items: flex-end;
}

.bars::before{
  content:"";
  display: block;
  height: .3rem;
  width: 100%;
  background-color: #4a4556;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.bar-wrapper{
  display: grid;
  grid-template-rows: 15.9rem 1.6rem;
  justify-items: center;
  gap: .5rem;
  z-index: 1;


}

.bar {
  
  width: 1.5rem;
  background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
  border-radius: 999px;
  align-self: end;
  height: var(--height);

  animation: up 1.4s;
}

@keyframes up {
  0% {
    height: 0;
  }
}

@media (min-width: 1200px) {
  #app{
 grid-template-columns: 29.6rem max-content max-content;
  grid-template-rows: max-content;
  }

  .box:nth-child(4) {
    grid-column: 1/4;
  }


  .weekly-sell .wrapper {
   
    flex-direction: row;
  }
  
  .weekly-sell .left {
   
    grid-auto-flow: initial;
  }

  .bars {
    gap: 5.9rem;
  }
}